.top {
    background-color: #1f2937;
    height: 340px;
}

.header {
    margin-left: 100px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
}
 a, .links{
    display: flex;
    
    flex-direction: row;
    text-decoration:none ;
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 10px;
    
    
}

    .links {
        margin-right: 100px;
        margin-top: 25px;
        justify-content: center;


    }



 h1{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
 }
    
 
 h2 {
   font-size: 48px;
   font-weight: bolder;
   color: #fff;
   margin: 0px;
 }
 
 .pic {
   height: 200px;
   width: 300px;
   
   align-content: center;
 }
.button{
   width: 65px;
   background-color: #3882f6;
   border-radius: 10px;
   height: 30px;
   border: 20px;
}


.mid-top, .left {
   display: flex;
   
   margin: 0px 10px 0px
}

.left{
   padding: 10px;
   flex-wrap: wrap;
   height: 300px;
   width: 300px;
   align-items: flex-start;
}
.mid-top {
   display: flex;
   justify-content: space-between;
   margin-left: 100px;
   margin-right: 100px;

}

.write{
   margin: 0;
   height: 50px;
   color: #fff;
   font-size: 18px;

}

.title{

   margin-bottom: -30px;
}


.mid {
   background-color: #fff;
  height: 220px;
 justify-content: center;

}

.info{
   font-size: 36px;
   color: #1f2937;
   justify-content: center;
   display: flex;
}

.box {
   height: 100px;
   width: 100px;
   border: 2px;
   border-style: solid;
   border-color: #3882f6;
   border-radius: 10px;
   
}

.boxes{
   display: flex;
   padding: 0px;
   justify-content: space-around ;
   margin: 0;
   margin-top: 20px;
   width: 600px;
}

.box-content{
   display: flex;
   justify-content: center;
}

.box-box{
   display: flex;
   justify-content: center;
}

.quote-box{
   background-color: #e5e7eb;
   
   
}
.quote{
   font-size: 36px;
   font-style:  italic;
   color:#1f2937;
   justify-content: center;
margin: 0px 150px 0px;
border-top: 20px;
}
.sayer{
   font-weight: bold;
   color:rgb(61, 61, 61);
   font-size: 24px;
   
}