.top {
    background-color: #1f2937;
    /*display:flex ;*/
   
}

.header {
    padding-left: 10px;
    align-content: center;
    display: flex;
    flex-direction: row;
    
    
    
}
 a, .links{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-decoration:none ;
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 10px;
   


}
 h1{
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-content: left;
    justify-content: end;
 }